* {
    box-sizing: border-box;
    font-family: "open sans", sans-serif;
}

@font-face {
    font-family:'Neue Machima';
    src: url('../fonts/neue-machina-regular.otf');
}

body {
    background-color: black;
    color: white;
    background: linear-gradient(-45deg, #451952, #662549, #AE445A, #F39F5A);
    background-size: 300% 300%;
    animation: colors 10s ease infinite;
}

.main{
    margin: .5rem;
    padding: .5rem;
    border: 1px solid #fff;
    border-radius: 1rem;
}


@keyframes colors {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}



a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: #fff;
    text-decoration: underline;
}

@media screen and (min-width: 768px){
    .main {
        max-width: 1024px;
        margin: 1rem auto;
    }
    .main::before {
        width: 70vw;
    }
    .main::after {
        width: 70vw;
    }
}

.wrapper span{
    position: fixed;
    bottom: -50px;
    height: 1.875rem;
    width: 1.875rem;
    opacity: .2;
    border-radius: 50%;
    animation: animate 10s linear infinite;
    z-index: -1;
}

.wrapper span:nth-child(1){
    left: 0;
    animation-delay: .6s;
    background-color: #fff;
}
.wrapper span:nth-child(2){
    left: 10%;
    animation-delay: 3s;
    background-color: #fff;
}
.wrapper span:nth-child(3){
    left: 20%;
    animation-delay: 2s;
    background-color: #fff;
}
.wrapper span:nth-child(4){
    left: 30%;
    animation-delay: 5s;
    background-color: #fff;
}
.wrapper span:nth-child(5){
    left: 40%;
    animation-delay: 1s;
    background-color: #fff;
}
.wrapper span:nth-child(6){
    left: 50%;
    animation-delay: 7s;
    background-color: #fff;
}
.wrapper span:nth-child(7){
    left: 60%;
    animation-delay: 6s;
    background-color: #fff;
}.wrapper span:nth-child(8){
    left: 70%;
    animation-delay: 8s;
    background-color: #fff;
}
.wrapper span:nth-child(9){
    left: 80%;
    animation-delay: 6s;
    background-color: #fff;
}
.wrapper span:nth-child(10){
    left: 90%;
    animation-delay: 4s;
    background-color: #fff;
}

@keyframes animate{
    0% {
        bottom: 0;
        margin-left: 0;
        margin-right: 5.625rem;
    }
    20% {
        bottom: 20%;
        margin-left: 5.625;
        margin-right: 0;
    }
    40% {
        bottom: 40%;
        margin-left: 0;
        margin-right: 5.625rem;
    }
    80% {
        bottom: 80%;
        margin-left: 5.625;
        margin-right: 0;
    }
    100% {
        bottom: 100%;
        margin-left: 0;
        margin-right: 5.625rem;
    }
}