

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.header::after {
    content: '';
    display: inline-block;
    width: 2rem;
    height: 2rem;
    top: 2.5rem;
    right: 2.5rem;
    background-repeat: no-repeat;
    position: absolute;
    background-size: contain;
    background-image: url(/src/assets/img/icons/perfil-icons-header.svg);
}

.header .photo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    
}

.header .title {
    text-align: center;
    font-family: "neue Machima";
    font-weight: lighter;
    font-style: normal;
}


.information {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.information p {
    margin: .5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.125rem;
}

.information p::before {
    display: inline-block;
    content: ' ';
    width: 1rem;
    height: 1rem;
    background-image: url(../img/icons/perfil-icon-contato.svg);
    background-repeat:no-repeat;
    background-size: contain;
    margin-right: .5rem;
}

.information .job::before {
    background-image: url(../img/icons/perfil-icon-job.svg);
}

.information .localization::before {
    background-image: url(../img/icons/perfil-icon-localizacao.svg);
}

.information .email::before {
    background-image: url(../img/icons/perfil-icon-email.svg);
}

.information .contato::before {
    background-image: url(../img/icons/perfil-icon-contato.svg);
}

@media screen and (min-width: 768px){
    
    .header {
        display: grid;
        grid-template-areas: 
        "photo title"
        "photo information"
        ;
    }  

    .header .photo {
        grid-area: photo;
        margin: 0 auto;

    }
    .header .title {
        grid-area: title;
        text-align: start;
        max-width: 200px;
    }

    .header .title {
        grid-area: title;
    }
}